.wrapper {
    width: 100%;
    height: fit-content;
}

.headingWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title {
    color: #fff;

    /* Title */
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 24px 0px;
}

.btn {
    color: var(--primary-color);
    text-align: right;
    /* Text */
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.listWrapper {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
