.wrapper {
    width: 100%;
    min-width: 240px;
    background-color: rgba(33, 33, 33, 1);
    border-radius: 6px;
    position: absolute;
    top: 44px;
    right: -66px;
    z-index: 999;
}

.center {
    right: 0;
    top: 52px;
}
