.wrapper {
    min-height: 100vh;
    padding: 0 60px 148px 60px;
}

.title {
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btnWrapper {
    display: flex;
    align-items: center;
}

.title {
    padding: 24px;
}
