.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    width: 100%;
    height: fit-content;
        border-radius: 8px;
    cursor: pointer;
}

.img {
    width: 100%;
    border-radius: 8px;
}

.mediumSpan {
    color: var(--text-color);

    font-family: Commissioner;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 4px 0px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
}

.smallSpan {
    color: #cfcfcf;
    font-family: Commissioner;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: -webkit-box;
    max-width: 160px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.infoWrapper {
    padding-left: 8px;
    display: flex;
    flex-direction: column;
}
